
<nav class="navbar navbar-expand-lg bg-light fixed-top" >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'lecture' %}fw-bold active{% endif %}"
                   {% if request.endpoint == 'lecture' %}aria-current="page"{% endif %}
                   href="/lecture">lecture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'main' %}fw-bold active{% endif %}"
                   {% if request.endpoint == 'main' %}aria-current="page"{% endif %}
                   href="/">contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint in ['portfolio_login', 'portfolio_main', 'portfolio_resume'] %}fw-bold active{% endif %}"
                   {% if request.endpoint in ['portfolio_login', 'portfolio_main', 'portfolio_resume'] %}aria-current="page"{% endif %}
                   href="/portfolio_login">portfolio</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
