{% extends "main_head.html"  %}
{% block body %}
<form class="portfolio-login d-flex justify-content-center" method="POST">
  <div class="form-group mx-sm-1">
    <label class="visually-hidden" for="portfolio-password">Password</label>
    <input id="portfolio-password" type="password" name="password" class="form-control" placeholder="Password" required>
    {% if login_error %}<div class="text-danger small mt-2">비밀번호가 올바르지 않습니다.</div>{% endif %}
  </div>
  <button type="submit" class="btn btn-secondary align-self-start">login</button>
</form>
{% endblock %}
