
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link {% if request.endpoint == 'portfolio_main' %}fw-bold text-dark{% else %}text-secondary{% endif %}" href="/portfolio_main">i am</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.endpoint == 'portfolio_resume' %}fw-bold text-dark{% else %}text-secondary{% endif %}" href="/portfolio_resume">resume</a>
    </li>
</ul>
<form action="/logout" method="POST">
  <button type="submit" class="btn btn-secondary btn-sm">logout</button>
</form>
